
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read and update their own data.
    // Any authenticated user can create a user document, which is necessary for first-time sign-in.
    match /users/{userId} {
      allow get, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
  }
}
